# Ignore everything
*

# But do include these files
!README.md
!LICENSE
!.gitignore
!.c
!.cpp
!.h
!Examples
!Examples/SpiritLevel
!Examples/SpiritLevel/*.ino
!Examples/SpiritLevel/*.h
!Examples/SpiritLevel/*.cpp
!Examples/LightCap
!Examples/LightCap/*.ino
!Examples/LightCap/*.h
!Examples/LightCap/*.cpp
!Examples/MelodyCane
!Examples/MelodyCane/*.ino
!Examples/MelodyCane/*.h
!Examples/MelodyCane/*.cpp
!Examples/PageTurner
!Examples/PageTurner/*.ino
!Examples/PageTurner/*.h
!Examples/PageTurner/*.cpp
