# Ignore everything
*

# But do include these files
!README.md
!LICENSE
!.gitignore
!.c
!.cpp
!.h
!Examples/LightCap/*.ino
!Examples/LightCap/*.h
!Examples/LightCap/*.cpp
!Examples/QuaternionTutorial/*.ino
!Examples/QuaternionTutorial/*.h
!Examples/QuaternionTutorial/*.cpp
!Examples/MelodyCane/*.ino
!Examples/MelodyCane/*.h
!Examples/MelodyCane/*.cpp
!Examples/PageTurner/*.ino
!Examples/PageTurner/*.h
!Examples/PageTurner/*.cpp
